numpy
matplotlib
pillow
torch==2.4
torchvision
einops
scikit-learn
coloredlogs
faiss-cpu
opencv-python
selenium
requests
langchain
git+https://github.com/facebookresearch/segment-anything.git
pycocotools
onnxruntime
onnx
jupyter
segment-anything-hq
timm
langchain-community
langchain-openai